/* Grid */

.column {
  flex-basis: 100%;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 150px;margin-bottom: 30px;
  }
  .column {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}

@media (max-width:500px){
  .column {
    position:relative;
    left:5%;
  }
}
/* Style */

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  color: #ccc;
  background: #000;
}

.column {
  font-weight:bold;
  padding: 15px;
  margin: 5px 0;
  text-align: center;
  /* position:relative;
  left:5%; */
}
.red{
  color: red;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}

header.major {
		margin: 0 0 2em 0;
	}
