h1.splitting {
  color: #84a8ff;
}

h1.splitting .char {
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  transition: opacity 0.3s linear, -webkit-transform 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.3s linear;
  transition: transform 0.3s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.3s linear, -webkit-transform 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  -webkit-transition-delay: calc( 20ms * var(--char-index));
          transition-delay: calc( 20ms * var(--char-index));
}

h1.splitting[data-scroll="out"] .char {
  opacity: 0.1;
  -webkit-transform: translateY(0.25em);
          transform: translateY(0.25em);
}

/* ---------------------------------- */

body {
  color: #C0C0C0	;
  overflow-x: hidden;
}

.page {
  max-width: 75%;
  padding-left: 10px;
  margin: auto;
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  top:60px;
  z-index: -1;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.hero-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  min-height: 105px;
  background-image: url(../images/events_page\ image.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hero-nav .hero-nav__inner {
  z-index: 100;
}

.hero-nav h1 {
  color: #efefef;
  font-size: 3vw;
  text-align: center;
  margin: auto;
  z-index: 100;
}

.hero-nav .hero-nav__broughtby {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: table
}

.hero-nav .hero-nav__broughtby span {
  font-size: 12px;
  font-family: "montserrat-bold", sans-serif;
  vertical-align:middle;
  color: #efefef;
}

.hero-nav .hero-nav__broughtby img {
  height: 25px;
  vertical-align:middle;
  margin-bottom: 3px;
  transition: all 500ms ease;
}

.hero-nav .hero-nav__broughtby img:hover {
  transform: scale(1.2);
}

.hero-nav:before {
  content: "";
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: background 400ms;
  transition: background 400ms;
}

.hero-nav.fixme:before {
  background: rgba(0, 0, 0, 0.8);
}

.hero-nav.fixme .hero-nav__broughtby {
  display: none;
}

.wrap {
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
  margin-right: 12vw;
}

.buttonz {
  min-width: 200px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background:  #84a8ff;
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }


#buttonz:hover, #buttonz:focus {
  color: #313133;
  transform: translateY(-6px);
}

#buttonz:hover::before, #buttonz:focus::before {
  opacity: 1;
}

/* #buttonz::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
} */

#buttonz:hover::after, #buttonz:focus::after {
  animation: none;
  display: none;
}
#buttonz{
  background-color: #84a8ff;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

 .answer-faq {
  color: rgba(255, 255, 255, 0.6);
 }

 .contact-workshop {
     margin-top: 25px;
 }

 @media screen and (max-width: 700px) {
  .wrap {
    margin-top: 2vh;
    align-items: center;
    margin-right: 0;
  }
  .hero-nav__inner {
    width:100%;
  }
  .hero-nav h1 {
    width: 85%;
    font-size: 4vw;
    width: 65%;
  }
}
#reg-message {
  font-size: 2.5rem;
  padding: 0 3rem;
}

.wrap .reg-btn {
  margin: 0 8rem;
}

.wrap .pay-btn {
  margin: 0 5rem;
}
.cinfo {
  display: flex;
  margin-bottom: 2.5rem;
}
.logo-img {
  width: 160px;
  height: 100px;
  margin-right: 10px;
}
.cinfo p {
  margin: auto 0;
}
.wrap .eventbtn {
  margin: 0 6rem;
}
@media screen and (max-width: 700px) {
  .cinfo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .logo-img {
    margin-right: 0;
  }
  .cinfo p {
    text-align: center;
    margin-top: 1.5rem;
  }

.answer-faq a , b a{
  color: #84a8ff;
}
.answer-faq a:focus, b a:focus {
  color: white;
}
.answer-faq a:hover, b a:hover {
  color: white;
}
/*# sourceMappingURL=eventsnew.css.map */