/* ===================================================================
 * fonts.scss)
 *
 * ------------------------------------------------------------------- */
 
/*
 * Libre Baskerville 
================================================================================ */
@font-face {
  font-family: "librebaskerville-regular";
  src: url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "librebaskerville-italic";
  src: url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "librebaskerville-bold";
  src: url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

/*
 * Montserrat
================================================================================ */
@font-face {
  font-family: "montserrat-regular";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

/*
 * Lovelo
================================================================================ */
@font-face {
	font-family: "lovelo-light";
	src: url("../fonts/lovelo/Lovelo\ Line\ Light.otf");
	font-style: normal;
	font-weight: normal;
}