		.workshopcontainer {
			position: relative;
			text-align: center;
			color: white;
			margin-top: 25px;
		}

		/* Centered text */
		.workshopcentered {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		#content-workshops {
			border: 3px solid #1C6EA4;
			border-radius: 14px;
			padding:25px;
		}
		#content-workshops p {
			line-height: 1.3em;
		}
		#header {
			background: rgba(39, 40, 51, 0);
			box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
			cursor: default;
			height: 3.5em;
			left: 0;
			line-height: 3.5em;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 100;
		}
		h1, h2, h3, h4, h5, h6 {
			margin: 0 0 0 0;
		}
		header.major {
			margin-top: 40px;
			font-size: xx-large;
			margin-bottom: 60px;
		}
		header.major:after{
			height: 0.1em;
			background:red;
		}
		header.minor {
			margin: 0 0 0.2em 0;
			position: relative;
			text-align: left;
			font-size: 1.2em;
		}
		header.minor h3 {
			font-weight: bolder;
		}

		header.minor:after {
			background:red;
			content: '';
			display: inline-block;
			height: 0.1em;
			max-width: 100em;
			width: 100%;
		}

		/* Optional: show position indicator in red */
		::-webkit-scrollbar-thumb {
			background: #FF0000;
		}
		h3{
			margin-block-end: -10px;
		}

		.wrapper {
			padding: 2em 0 4em 0;
		}

		.myButton {
			box-shadow:inset 0px 1px 5px 0px #cf866c;
			background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
			background-color:#d0451b;
			border-radius:3px;
			border:1px solid #942911;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family:Montserrat;
			font-size:23px;
			padding:6px 24px;
			text-decoration:none;
			text-shadow:0px 1px 0px #854629;
		}
		.myButton:hover {
			background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
			background-color:#bc3315;
		}
		.myButton:active {
			position:relative;
			top:1px;
		}
		.leftimage{
			
		}
		
		.reg-button-wrapper{
			margin-top: 20px;
			text-align: right;
		}
		
