		.workshopcontainer {
			position: relative;
			text-align: center;
			color: white;
			margin-top: 25px;
		}
		
		/* Centered text */
		.workshopcentered {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		#content-workshops {
			border: 3px solid #1C6EA4;
			border-radius: 14px;
			padding:25px;
		}
		#content-workshops p {
			line-height: 1.3em;
		}
		#header {
			background: rgba(39, 40, 51, 0);
			box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
			cursor: default;
			height: 3.5em;
			left: 0;
			line-height: 3.5em;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 100;
		}
		h1, h2, h3, h4, h5, h6 {
			margin: 0 0 0 0;
		}
		header.major {
			margin-top: 40px;
			font-size: xx-large;
		}
		header.major:after{
			height: 0.1em;
			background:red;
		}
		header.minor {
			margin: 0 0 0.2em 0;
			position: relative;
			text-align: left;
			font-size: 1.2em;
		}
		header.minor h3 {
			font-weight: bolder;
		}
		
		header.minor:after {
			background:red;
			content: '';
			display: inline-block;
			height: 0.1em;
			max-width: 100em;
			width: 100%;
		}
		
		::-webkit-scrollbar {
			width: 0px;  /* Remove scrollbar space */
			background: transparent;  /* Optional: just make scrollbar invisible */
		}
		/* Optional: show position indicator in red */
		::-webkit-scrollbar-thumb {
			background: #FF0000;
		}
		h3{
			margin-block-end: -10px;
		}

		.wrapper {
		padding: 2em 0 4em 0;
	}